<h1>Conócenos</h1>
<p>El equipo de OpticaliaVO somos:</p>


<div class="media">
  <a class="pull-left" href="#">
   <%= image_tag('service.png', :class => "media-object") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Optometría</h4>
    <p>A rellenar</p>
  </div>
</div>
