<% provide(:title, (t :marcas)) %>

<div class=row>	
	<div class="span12">
		<%= image_tag('panoramic3.jpg')%>
	</div>
</div>

<h1><%= t :marcas_title %></h1>
<p><%= t :marcas_intro %></p>

<div class=row>	
	<ul class="thumbnails">
  
<% @marcas.each do |marca| %>
	<li class="span2">
		<%= cl_image_tag(marca.image)%>
	</li>
<% end %>
</ul>
</div>
